<div class="sidebar-wrapper">
  <div class="sidebar" ng-controller="Documents as document">
    <nav class="nav nav-sidebar">
      <ul class="menu menu-sidebar">
        <li class="menu-item menu-item--import-from in-sidebar">
        <li class="menu-item menu-item--documents in-sidebar">
          <a class="menu-link" ng-click="document.status.document = !document.status.document">
          <span>Documents</span> <span class="caret"></span></a>

          <ul class="documents sidebar-list" collapse="document.status.document" role="menu">
            <li
              ng-repeat="document in documents track by document.id"
              class="document"
              ng-class="{'active': currentDocument.id === document.id}"
              >
              <a ng-click="selectDocument(document)">{{document.title}}</a>
            </li>
            <li class="add-document">
              <a ng-click="createDocument()">TODO New Document</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div ng-controller="ImportFile as importFile">
      <a class="btn btn--new" ng-click="choose()">
        <span>Import</span>
      </a>
    </div>
    <a class="btn btn--save" ng-click="saveCurrentDocument(true)">Save Session</a>
    <a class="btn btn--delete"
       ng-click="removeDocument(currentDocument)"
       ng-if="documents.length > 0">Delete Document</a>
  </div>
</div>