<div class="sidebar-wrapper">
  <div class="sidebar" ng-controller="Documents as document">
    <nav class="nav nav-sidebar">
      <ul class="menu menu-sidebar">
        <li class="menu-item menu-item--import-from in-sidebar">
        <li class="menu-item menu-item--documents in-sidebar">
          <a class="menu-link" ng-click="document.status.document = !document.status.document">
          <span>Documents</span> <span class="caret"></span></a>

          <ul class="documents sidebar-list" collapse="document.status.document" role="menu">
            <%- include dropdowns/documents %>
          </ul>
        </li>
      </ul>
    </nav>
    <a class="btn btn--new" ng-click="createDocument()">New Document</a>
    <div ng-controller="ImportFile as importFile">
      <a class="btn btn--new" ng-click="choose()">
        <span>Import</span>
      </a>
    </div>
    <a class="btn btn--save" ng-click="saveDocument(true)">Save Session</a>
    <a class="btn btn--delete"
       ng-click="removeDocument(currentDocument)"
       ng-if="documents.length > 1">Delete Document</a>
  </div>
</div>